.login-main-wrap {
    min-width: 1200px;
    margin: 5rem auto;
    text-align: center;
}
.login-main-image {
    margin-top: 9rem;
}
.login-main-image a img {
    width: 25rem;
    height: 25rem;
}
.login-main-title-content {
    text-align: center;
}
.login-main-image img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
    border-radius: 75px 75px 75px 75px;
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.social-icon-wrap {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.email-button {
    background-color: #fc7300;
    color: white;
    width: 25rem;
    height: 5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.email-icon {
    width: 1.5rem;
    margin-right: 0.3rem;
}
.member-join-button {
    border: 1px solid lightgray;
    font-size: 1.6rem;
    width: 25rem;
    height: 5rem;
    border-radius: 2px;
    margin-bottom: 5rem;
}
.login-find-info {
    margin-bottom: 3rem;
}
.login-find-info > a:after {
    content: url(/public/images/login-line.png);
    vertical-align: middle;
    display: inline-block;
    margin: 0 7px 0 3px;
}
.kakao-icon img {
    height: 3.94rem;
    cursor: pointer;
}
.google-icon-wrap {
    background-color: aliceblue;
    width: 3.94rem;
    height: 4rem;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.naver-icon img {
    height: 3.94rem;
}

.googleRealButton-icon {
    display: none;
}
