.upload-photo {
    padding: 2rem;
<<<<<<< HEAD
    height: 17rem;
=======
    height: auto;
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
    padding: 2rem;
    border-top: solid 1px hsl(0, 0%, 87%);
}

.upload-photo-btn {
<<<<<<< HEAD
    
    
=======
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
    background-color: #fc7300;
    font-size: 1.7rem;
    color: white;
    padding: 1.5rem 2.5rem;
<<<<<<< HEAD
    margin-top: 2rem;
=======
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
    width: 6.5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border-radius: 1rem;

    
}

.upload-photo-area {
    display: flex;
    height: 12rem;
<<<<<<< HEAD
=======
    gap: 1.5rem;
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
}
