
.save-button {
    position: absolute;
    top: 15%;
    right: 45rem;

    padding: 0.7rem 1.5rem;
    margin: 0 2rem 1rem 2rem;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(4px);

    font-size: 2rem;
    color: black;
    z-index: 9999;
}

.save-button:hover {
    color: white;
    background-color: #fc7300;
}

.width-wrapper {
    min-width: 900px;
    max-width: 900px;
    min-height: calc(100vh - 310px);
    margin: 0 auto;
    padding: 4rem 10rem 10rem;
}


.tripstory-title {
    border-bottom: solid 1px hsl(0, 0%, 87%);
    padding: 4rem 2rem 2rem 2rem;
}

.tripstory-title input{
    font-size: 3.7rem;
    color:#fc7300;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.tripstory-title input::placeholder {
    color: #fc7300;
}



.star-score-area {
    display: flex;
    color: rgb(111, 109, 109);
    border-bottom: solid 1px hsl(0, 0%, 87%);
    justify-content: space-between;
    padding: 1rem;

}

.trip-score-ment {
    display: flex;
    font-size: 1.6rem;
    width: 940px;
    margin-top: 5px;

    font-size: 1.7rem;
    padding: 1.5rem 1.2rem;

   
}

.tripstory-content {
    padding: 2rem;
    height: 17rem;
    padding: 2rem;
}

.tripstory-content textarea{
    font-size: 2rem;
    color: rgb(39, 38, 38);
    border: none;
    justify-content: start;
    align-items: flex-start;
    resize: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.tripstory-content textarea::placeholder {
    color: rgb(111, 109, 109);
}

.map-wrap {
    border-radius: 10px;
    overflow: hidden;
}

/***** 이야기 상세 상단 *****/
.thumbnail-img-wrap {
    width: 90rem;
    height: 40rem;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 4rem;

    background-color: #ddd;
}
.thumbnail-img {
    width: 90rem;
    object-fit: cover;
}
.story-title-wrap {
    position: relative;
    padding-bottom: 6rem;
    border-bottom: 1px solid #ddd;
}
.story-title {
    max-width: 80rem;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.story-comment {
    max-width: 80rem;
    display: inline-block;
    font-size: 1.6rem;
}

/***** 좋아요 버튼 *****/
.thumbsup-icon-wrap {
    position: absolute;
    top: 0;
    right: 4rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}
.thumbsup-icon {
    height: 3rem;
    filter: invert(70%);
}
.thumbsup-icon-filled {
    filter: invert(66%) sepia(94%) saturate(4785%) hue-rotate(4deg)
        brightness(103%) contrast(107%);
}
.thumbsup-cnt {
    color: #aaa;
    font-size: 1.4rem;
    font-weight: 700;
}
.thumbsup-cnt-filled {
    color: #fc7300;
}

/***** Day 선택 버튼 *****/
.day-btn-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 4rem 0 6rem;
}
.day-btn {
    color: #fc7300;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
    border: 0.2rem solid #fc7300;
    border-radius: 10px;
}
.day-btn:hover,
.day-btn-filled {
    color: #fff;
    background-color: #fc7300;
}
