.write-day-header {
    display: flex;
    justify-content: space-between;
}

.write-icon {
    height: 3rem;
    width: auto;
    margin-right: 0.2rem;
    cursor: pointer;
}

.day-number {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
.day-content {
    font-size: 1.6rem;
    color: #333;
    background-color: #fff1e6;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.day-detail-item {
    margin-top: 6rem;
}
.place-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-left: 1px solid #ddd;
    margin: 1rem 1.1rem;
    padding: 0 2.2rem 1rem;
}
.write-icon-area {
    margin-right: -3rem;
}

.place-order {
    position: absolute;
    top: 0;
    left: -1.2rem;

    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: #975ffe;
}
.white-space {
    position: absolute;
    top: 2.2rem;
    left: -0.2rem;

    width: 3px;
    height: 1rem;
    background-color: #fff;
}
.place-title {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}
.place-subtitle {
    display: inline-block;
    color: #999;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.place-content {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.order-dorm-label-wrapper {
    position: absolute;
    /* top: 2.4rem; */
    left: -1.0rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: #62CCC2;
  
  }
  
  .order-dorm-label {
    margin-top: 3.4px;
    margin-left: 4px;
  
    height: 14px;
    width: 14px;
  
    background-image: url('../../../../public/images/icon_dorm.png');
    background-repeat: no-repeat;
    background-size: cover;
  
  }