.width-wrapper {
    min-width: 900px;
    max-width: 900px;
    min-height: calc(100vh - 310px);
    margin: 0 auto;
    padding: 4rem 10rem 10rem;
}

.stay-title {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.stay-addr {
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}
.thumbnail-img-wrap {
    width: 90rem;
    height: 46rem;
    border-radius: 6px;
    overflow: hidden;
}
.thumbnail-img {
    width: 90rem;
    object-fit: cover;
}

/* 숙소 편의시설 */
.h2-title {
    font-size: 2.4rem;
    margin-top: 6rem;
    padding: 6rem 0 2rem;
    border-top: 1px solid #ddd;
}
.facility-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.facility-item {
    font-size: 1.8rem;
    display: flex;
    align-items: start;
}
.facility-label {
    display: inline-block;
    width: 20rem;
}
.facility-value {
    display: inline-block;
    max-width: 70rem;
}

.map-wrap {
    border-radius: 10px;
    overflow: hidden;
}
