/* 여행 사진: 0개 */
.trip-story-item-thumbnail-container-zero {
    min-width: 35.4rem;
    min-height: 16.9rem;

    background-color: aliceblue;
}


/* 여행 사진: 1개 */
.trip-story-item-thumbnail-one {
    width: 35.4rem;
    height: 16.9rem;

}


/* 여행 사진: 2개 */
.trip-story-item-thumbnail-container-two {
    display: flex;
    gap: 1px;
}
.trip-story-item-thumbnail-two {
    height: 16.9rem;
    flex: 1;

}


/* 여행 사진: 3개 */
.trip-story-item-thumbnail-container-three {
    max-height: 16.9rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px
    
}
.trip-story-item-thumbnail-three {
    object-fit: cover;
    width: 100%;
    max-height: 16.9rem;
}
.trip-story-item-thumbnail-three:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}
.trip-story-item-thumbnail-three:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 8.45rem;
    
}
.trip-story-item-thumbnail-three:nth-child(3) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
    max-height: 8.45rem;
}


/* 여행 사진: 4개 */
.trip-story-item-thumbnail-container-four {
    max-height: 16.9rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px
    
}
.trip-story-item-thumbnail-four {
    object-fit: cover;
    width: 100%;
    max-height: 16.9rem;
}

.trip-story-item-thumbnail-four:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}
.trip-story-item-thumbnail-four:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 8.45rem;
    
}
.trip-story-item-thumbnail-four:nth-child(3) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
    max-height: 8.45rem;

}
.trip-story-item-thumbnail-four:nth-child(4) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
    max-height: 8.45rem;

}


/* 여행 사진: 5개 이상 */
.trip-story-item-thumbnail-container-five {
    max-height: 16.9rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px
    
}
.trip-story-item-thumbnail-five {
    object-fit: cover;
    width: 100%;
    max-height: 16.9rem;
}

.trip-story-item-thumbnail-five:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}
.trip-story-item-thumbnail-five:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 8.45rem;
    
}
.trip-story-item-thumbnail-five:nth-child(3) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
    max-height: 8.45rem;

}
.trip-story-item-thumbnail-five:nth-child(4) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
    max-height: 8.45rem;

}
.trip-story-item-thumbnail-five:nth-child(5) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
    max-height: 8.45rem;

}