/* signup.module.css */

.width-wrapper {
    margin: 0 auto;
    max-width: 900px;
    min-width: 900px;

    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.profile-img-area {
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
}

.nickname-area {
    display: flex;
    justify-content: center;
}

.nickname-input {
    display: flex;
    font-size: 3.7rem;
    color: black;
    border-bottom: solid 1px hsl(0, 0%, 87%);
    margin-left: 5px;
    height: 70px;
    text-align: center;
    font-weight: bold;
}

.nickname-input::placeholder {
    color: #848383;
}

.ok-btn-area {
    display: flex;
    justify-content: center;
}

.nickname-ok-btn {
    display: flex;
    justify-content: center;
    /* background-color: #fc7300; */
}

.nickname-ok-btn button {
    font-size: 2.8rem;
    color: white;
    width: 49rem;
    padding: 22px 90px;
    margin-top: -3rem;
    border-radius: 1rem;
    background-color: #fc7300;
}

.nickname-ok-btn button:disabled {
    background-color: #f7a25c;
    cursor: default;
}

.information-area {
    display: flex;
    justify-content: center;
}

.information {
    color: #706f6f;
    font-size: 2rem;
    margin-top: -4rem;
}

.clear-icon {
    display: flex;
    font-size: 2.5rem;
    color: #848383;
}
