/* signup.module.css */

.width-wrapper {
    margin: 0 auto;
    max-width: 900px;
    min-width: 900px;

    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.profile-img-area {
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 170px;
    border-radius: 50%;
}

.nickname-area {
    width: 83%;
    margin: auto;
    display: flex;
    justify-content: end;
    border-bottom: solid 1px hsl(0, 0%, 87%);
}

.nickname-input {
    width: 80%;
    height: 60px;
    margin-left: 5px;
    display: flex;
    font-size: 2.5rem;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-left: 0.7rem;
}

.nickname-input::placeholder {
    color: #848383;
}

.ok-btn-area {
    display: flex;
    justify-content: center;
}

.nickname-ok-btn {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
    /* background-color: #fc7300; */
}

.nickname-ok-btn button {
    width: 74.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    background-color: #fc7300;
}

.nickname-ok-btn button:disabled {
    background-color: #f7a25c;
    cursor: default;
}

.information-area {
    padding-left: 80px;
    display: flex;
}

.information {
    color: #706f6f;
    font-size: 1.4rem;
    margin-top: -4rem;
}

.clear-icon {
    display: flex;
    font-size: 2.5rem;
    color: #848383;
}
