.width-wrapper {
    position: absolute;
    top: 67px;
    left: 8px;
    max-width: 359px;
    min-width: 359px;
    height: 250px;
    padding-top: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 10px;
}
.info-head-wrap {
    width: 85%;
    padding: 0 2.5rem;
    margin-bottom: 0.5rem;
}
.info-title {
    font-size: 2rem;
    color: rgba(58, 58, 58);
    font-weight: bold;
}

.width-wrapper-inner {
    max-width: 330px;
    min-width: 330px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    /**/
    /*background: rgba(251, 251, 251);*/
}

/* 인원 선택 */
.width-wrapper-inner-left {
    width: 150px;
}
.boarding-info-num {
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}
/* 인원 수 감소 버튼 */
.boarding-info-num-left {
    height: 33px;
    line-height: 33px;
    flex: 0.15;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #8F8F8F;

}
/* 인원 수 반환 */
.boarding-info-num-center {
    height: 100%;
    display: block;
    flex: 0.7;
    text-align: center;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    cursor: auto;
}
.boarding-info-num-center-top {
    font-size: 1.4rem;
    font-weight: 600;
}
.boarding-info-num-center-bottom {
    font-size: 1.2rem;
    color: #8F8F8F;
}
/* 인원 수 증가 버튼 */
.boarding-info-num-right {
    height: 33px;
    line-height: 33px;
    display: block;
    flex: 0.15;
    text-align: center;
    color: #fc4a1a;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* 좌석 등급 */
.width-wrapper-inner-right {
    width: 165px;
}
/* 일반석 */
.width-wrapper-inner-right-inner {
    height: 33px;
    line-height: 33px;
    margin: 1rem 0.5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}
.width-wrapper-inner-right-inner-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

}
.width-wrapper-inner-right-inner-img {
    width: 20px;
    height: 20px;
    padding-top: 4px;
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}
