.banner-area {
    position: fixed;
    top: 170px;
}
.sticky-banner {
    position: absolute;
    left: 1000px;
    margin: 0 6rem;
    width: 16rem;
    height: 30rem;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #f7b733,
        #fc4a1a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #f7b733,
        #fc4a1a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner-plan {
    height: 15rem;
    margin: 0 2.4rem;
    padding: 2.4rem 0;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}
.banner-plan:first-child {
    border-bottom: solid 1px #fff;
}
