.tripstory-comment-container-wrapper {
    width: 98%;
    height: 130px;
    margin: 2rem auto 1rem auto;
    padding-bottom: 10px; /* 글자수 div 자리*/

    display: flex;
    flex-direction: column;

    background-color: #f3f3f3;

}
.tripstory-comment-container-top {
    display: flex;
}
/* 유저 이미지 */
.tripstory-comment-container-left {
    width: 50px;
    height: 50px;
    padding: 1.5rem 1rem;

}
.tripstory-comment-container-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}
/* 댓글 입력 */
.tripstory-comment-container-right {
    width: 90%;
    height: 95px;
    margin-top: 1.5rem;

    background-color: #FCFCFC;
    border-radius: 5px;
}
.tripstory-comment-container-right textarea {
    resize: none;
    border: none;

    font-size: 1.5rem;
}
/* 글자 수 계산 */
.tripstory-comment-container-bottom {
    margin: 0.9rem 2rem 1rem 1rem;

    text-align: end;
    font-size: 1.2rem;
}

/* 댓글 등록 버튼 */
.tripstory-comment-submit-btn-div {
    display: flex;
    justify-content: end;
}
.tripstory-comment-submit-btn {
    width: 110px;
    height: 30px;
    line-height: 30px;
    
    background-color: #FC7300;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;

    cursor: pointer;
}


/* 댓글 조회 */
/* 댓글이 없을 때 */
.tripstory-comment-none {
    margin: 1rem 0;
    padding: 40px 0 50px;

    text-align: center;
    font-size: 1.5rem;
    color: #959595;

    border-top: 2px solid #cdcdcd;
    border-bottom: 2px solid #cdcdcd;

}
/* 댓글이 있을 때 */
.tripstory-comment {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}
/* 유저 이미지 */
.tripstory-comment-left {
    width: 50px;
    height: 50px;

}
.tripstory-comment-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}
.tripstory-comment-right {
    min-width: 90%;
    max-width: 90%;

    /* border: 1px solid red; */
}
/* 유저 아이디 */
.tripstory-comment-right-top {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
}
/* 댓글 내용 */
.tripstory-comment-right-bottom {
    font-size: 1.5rem;
    font-weight: 600;
    color: #737373;
}