.dayplan {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-bottom: solid 1px #ddd; */
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.day-title-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-right: 3rem;
}


.day-title {
  display: flex;
  justify-items: left;
  align-items: flex-end;
  margin-left: 2.5rem;

}

.text-first {
  font-size: 1.8rem;
  font-weight: 800;
  margin-right: 2rem;
  width: 5.5rem;
  /* margin-left: -13rem; */

}

.text-second {
  font-size: 1.6rem;
  font-weight: 700;
  color: #aaa;
  margin-bottom: 0.1rem;

}

.edit-button-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 1.5px;
}

.edit-button-wrapper:hover {
  background-color: rgba(170, 170, 170, 0.3);
}

.edit-button {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
}

.edit-button-text {
  width: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #aaaaaa;
}

.schedule-block-wrapper {
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 0;
  margin-right: 3rem;
  min-height: 3rem;
  background-color: transparent;
  flex-direction: column;
  display: flex;


}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

}

.button-add-place {
  padding: 0.5rem 0.8rem;
  margin: 0 2rem;

  background-color: #fff;
  border-radius: 7px;

  font-size: 1.3rem;
  font-weight: 600;
  color: #888;
  border: solid 1px #ddd;

  padding: 0.5rem 2rem;
}

.button-add-place:hover {
  color: white;
  background-color: rgba(252, 115, 0, 0.9);
  border: solid 1px rgba(252, 115, 0, 0.9);

}

.button-add-memo {
  padding: 0.5rem 0.8rem;

  background-color: #fff;
  border-radius: 7px;

  font-size: 1.3rem;
  font-weight: 600;
  color: #888;
  border: solid 1px #ddd;

  padding: 0.5rem 2rem;
}

.button-add-memo:hover {
  color: white;
  background-color: rgba(252, 115, 0, 0.9);
  border: solid 1px rgba(252, 115, 0, 0.9);
}