/**************************/
/*       StayList.js      */
/**************************/
.stay-page-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 6rem;
}
.h1-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.stay-page-h1 {
    font-size: 3rem;
}
.stay-page-h1-img {
    width: 3rem;
    height: 3rem;
}
.stay-page-h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 6rem;
}
.width-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/**************************/
/*       StayItem.js      */
/**************************/
.stay-item {
    height: 32rem;
    background-color: #fff1e6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.06);
    margin-bottom: 4rem;
}
.thumbnail-img {
    width: 32rem;
    height: 16rem;
    object-fit: cover;
    overflow: hidden;
}

.text-area {
    display: flex;
    flex-direction: column;

    height: 16rem;
    padding: 3.2rem 2.4rem;
}
.stay-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #fc7300;
}
.stay-addr-tel {
    display: flex;
    align-items: start;
    gap: 0.8rem;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}
.stay-addr-tel img {
    width: 1.4rem;
    height: 1.4rem;
    padding-top: 0.2rem;
}
.stay-tel {
    font-size: 1.4rem;
}
