/* 이미지 모달창 뒷배경 흐리게 */
.open-img-modal {
<<<<<<< HEAD
  /* display: none; */
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
=======
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b

    display: flex;
    justify-content: center;

<<<<<<< HEAD
    z-index: 200;

    background-color: rgba(0, 0, 0, 0.3);
}
/* 모달 이너  */
.open-img-modal-inner{
=======
    background-color: rgba(0, 0, 0, 0.3);
}
/* 모달 이너  */
.open-img-modal-inner {
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
    position: absolute;
    max-width: 800px;
    max-height: 500px;
    align-self: center;
}
<<<<<<< HEAD
.open-img-modal-inner-header {
    display: flex;
    justify-content: end;
}
.icon-close {
    width: 3rem;
    height: 3rem;
    filter: invert(0.8);
}
.icon-close:hover {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
    transition-duration: 0.5s;
}
.open-img-modal-inner-main {
    text-align: center;
}
.open-img-modal-inner-main img {
    max-width: 760px;
    max-height: 460px;
=======
.open-img-modal-inner-main {
    display: flex;
    flex-direction: column;
}
.icon-close {
    width: 4rem;
    height: 4rem;
    filter: invert(0.8);
}
.icon-close:hover {
    filter: invert(1);
    transition-duration: 0.4s;
}
.opened-img {
    max-width: 76rem;
    max-height: 50rem;
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
    object-fit: cover;

    border: 3px solid #fff;
    border-radius: 5px;
<<<<<<< HEAD

}
=======
}
>>>>>>> d918fbbf4d967f8a03bff71dd3ef26101b20ec3b
