.width-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    min-width: 900px;
    padding: 0 10rem;
    /* margin-top: 6rem; */
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.banner-plan {
    height: 15rem;
    margin: 0 2.4rem;
    padding: 2.4rem 0;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}

.banner-plan:first-child {
    border-bottom: solid 1px #fff;
}
