.width-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding: 0 10rem;
    margin-top: 10rem;
    /* height: calc(100vh - 70px); */

    display: flex;
    flex-direction: column;
    gap: 14rem;
}

.banner-plan {
    height: 15rem;
    margin: 0 2.4rem;
    padding: 2.4rem 0;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}

.banner-plan:first-child {
    border-bottom: solid 1px #fff;
}
