.width-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding: 0 10rem;
    margin-top: 10rem;
    /* height: calc(100vh - 70px); */

    display: flex;
    flex-direction: column;
    gap: 14rem;
}
