.width-wrapper {
    min-width: 900px;
    max-width: 900px;
    min-height: calc(100vh - 310px);
    margin: 0 auto;
    padding: 4rem 10rem 10rem;
}

/***** 이야기 상세 상단 *****/
.thumbnail-img-wrap {
    width: 90rem;
    height: 40rem;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 4rem;

    background-color: #ddd;
}
.thumbnail-img {
    width: 90rem;
    object-fit: cover;
}
.story-title-wrap {
    position: relative;
    padding-bottom: 6rem;
    border-bottom: 1px solid #ddd;
}
.story-title {
    max-width: 80rem;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.story-comment {
    max-width: 80rem;
    display: inline-block;
    font-size: 1.6rem;
}

/***** 좋아요 버튼 *****/
.thumbsup-icon-wrap {
    position: absolute;
    top: 0;
    right: 4rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}
.thumbsup-icon {
    height: 3rem;
    filter: invert(70%);
}
.thumbsup-icon-filled {
    filter: invert(66%) sepia(94%) saturate(4785%) hue-rotate(4deg)
        brightness(103%) contrast(107%);
}
.thumbsup-cnt {
    color: #aaa;
    font-size: 1.4rem;
    font-weight: 700;
}
.thumbsup-cnt-filled {
    color: #fc7300;
}

/***** Day 선택 버튼 *****/
.day-btn-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 4rem 0 6rem;
}
.day-btn {
    color: #fc7300;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
    border: 0.2rem solid #fc7300;
    border-radius: 10px;
}
.day-btn:hover,
.day-btn-filled {
    color: #fff;
    background-color: #fc7300;
}
