.day1-btn {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 16pt;
    color: rgb(88, 87, 87);
    padding: 15px 25px;
    margin-top: 20px;
    width: 65px;
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    font-weight: bold;
    border: solid 1px rgb(125, 124, 124);
    border-radius: 1rem;
    margin-right: 20px;
}

.day1-btn:hover {
    background-color: #fc7300;
    color: white; 
}

.day1-btn.active {
    background-color: #fc7300;
    color: white; 
}