.upload-story-btn {
    display: flex;
    justify-content: center;
    background-color: #fc7300;
    font-size: 2.8rem;
    color: white;
    width: auto;
    padding: 22px 90px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    cursor: pointer;
    border-radius: 1rem;
}