

.upload-photo-btn {
    display: flex;
    justify-content: center;
    background-color: #fc7300;
    font-size: 13pt;
    color: white;
    padding: 15px 25px;
    margin-top: 20px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    
}

.uploaded-photo{
    width:auto;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.upload-photo-area {
    display: flex;
    height: 121px;
}
