.trip-schedule-add-stay-item {
    padding: 1rem;
    display: flex;
    align-items: center;

}
.trip-schedule-add-stay-img-div {
    margin-right: 1rem;
}
.trip-schedule-add-stay-img {
    width: 75px;
    height: 75px;

    border-radius: 5px;
}
.trip-schedule-add-stay-item-info {
    display: inline-block;
}
.trip-schedule-add-stay-item-name {
    font-size: 2rem;
}
.trip-schedule-add-stay-item-loc-type {
    display: flex;

    font-size: 1.6rem;
    color: #8c8c8c;

}
.trip-schedule-add-stay-item-checkbox-div {
    padding-left: 65%;

}
.trip-schedule-add-stay-item-checkbox {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: #d9d9d9;
    appearance: none;

}
.trip-schedule-add-stay-item-checkbox:checked {
    background: #037cff; /*invert를 위해 색깔 반전*/
    border: none;
    background-image: url('../../../../public/images/icon_check.png');
    background-position: center;
    background-size: cover;
    filter: invert(1);

}
