.place-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.place-item-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* 장소 이미지 */
.trip-schedule-add-place-img-div {
    margin-right: 1rem;
}
.trip-schedule-add-place-img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}


/* 장소 이름, 주소, 종류(관광지, 체험 등) */
.trip-schedule-add-place-item-info {
    display: inline-block;
}
.trip-schedule-add-place-item-name {
    font-size: 2rem;
}
.trip-schedule-add-place-item-loc-type {
    display: flex;
    font-size: 1.6rem;
    color: #8c8c8c;
}

.check-input {
    display: none;
}
.check-label {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
    background-color: #ddd;
}
.checked {
    background-color: #fc7300;
}
