.trip-schedule-add-place-item {
    padding: 1rem;
    display: flex;
    align-items: center;

}


/* 장소 이미지 */
.trip-schedule-add-place-img-div {
    margin-right: 1rem;
}
.trip-schedule-add-place-img {
    width: 75px;
    height: 75px;

    border-radius: 5px;
}


/* 장소 이름, 주소, 종류(관광지, 체험 등) */
.trip-schedule-add-place-item-info {
    display: inline-block;
}
.trip-schedule-add-place-item-name {
    font-size: 2rem;
}
.trip-schedule-add-place-item-loc-type {
    display: flex;

    font-size: 1.6rem;
    color: #8c8c8c;

}


/* 장소 선택: 체크박스 */
.trip-schedule-add-place-item-checkbox-div {
    padding-left: 65%;

}
.trip-schedule-add-place-item-checkbox {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    appearance: none;

    visibility: hidden;
    display: inline;
}
.trip-schedule-add-place-item-checkbox-p {
    min-width: 30px;
    min-height: 30px;

    border-radius: 50%;
    background-color: #d9d9d9;
    appearance: none;

}