body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* responsive */
html {
    font-size: 62.5%;
}

/* global reset (from stack overflow) */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul,
li {
    list-style: none;
}
caption,
th {
    text-align: left;
}

/* added reset (by Jihye) */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    /* height: 100vh; */
}
body,
button,
input,
textarea {
    font-family: "SUITE", sans-serif;
}
textarea {
    resize: none;
    border: none;
}
textarea:focus {
    outline: none;
}
input {
    border: none;
    outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
