.banner-area {
    position: fixed;
    width: 1vw;
    top: 0;
    right: 0;
}
.sticky-banner {
    position: absolute;
    top: calc(70px + 6rem);
    right: 2rem;
    width: 16rem;
    height: 30rem;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #f7b733,
        #fc4a1a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #f7b733,
        #fc4a1a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sticky-banner-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.6rem 0 0 2.4rem;
}
.banner-plan {
    height: 15rem;
    margin: 0 2.4rem;
    padding: 2.4rem 0;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}
.banner-plan:last-child {
    border-top: solid 1px #fff;
}
.plan-destination {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.plan-destination div {
    display: flex;
    flex-direction: column;
}
.plan-destination img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ddd;
}
.plan-date {
    font-size: 1.2rem;
}
