.loc-wrap {
    box-sizing: border-box;
    float: none;
    margin: auto;
}
.loc-wrap::after {
    content: "";
    display: block;
    clear: both;
}
.loc-header {
    position: relative;
    margin-top: 2rem;
    min-width: 32rem;
    max-width: 76.8rem;
    padding-left: 3.0rem;
    padding-right: 3.0rem;
}

.header-title{
    line-height: 1.2;
    font-size: 2.4rem;
    font-weight: bold;
    color: rgb(58, 58, 58);
}
.loc-rating{
    margin: 1rem 0 0;
}

.star-rating {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgb(58, 58, 58);
    display: inline;
    float: none;
    font-weight: bold;
    white-space: pre-line;
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0;
}
.star-icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0;
    background-size: 1.6rem 1.6rem;
    /* icon */
    background-image: url(https://assets.triple.guide/images/img-review-star-full@4x.png);
}
.star-empty-icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0;
    background-size: 1.6rem 1.6rem;
    /* icon */
    background-image: url(https://assets.triple.guide/images/img-review-star-empty@4x.png);
}
.like-cnt {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgb(58, 58, 58);
    display: inline;
    float: none;
    font-weight: bold;
    white-space: pre-line;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0;
}
.like-icon{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    /* icon */
    background-image: url(https://assets.triple.guide/images/ico-save@4x.png);
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.loc-addr{
    padding-left: 2rem;
    /* icon */
    background-image: url(https://assets.triple.guide/images/ico-end-location@3x.png);
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    background-position: left top;
}

.loc-addr-text{
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgba(58, 58, 58, 0.8);
    float: none;
    font-weight: bold;
    white-space: pre-line;
    margin: 1rem 0 0;
    font-size: 1.3rem;
    line-height: 1.38;
    letter-spacing: 0;
}