.profile-total-wrap {
    width: 90rem;
    margin: 0 auto;
}

.profile-update-wrap {
    margin-top: 10rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5rem;
}
.profile-update-image {
    background-color: #fc7300;
    width: 15rem;
    height: 15rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.profile-update-image img:first-child {
    width: 4rem;
    opacity: 60%;
    cursor: pointer;
    z-index: 1;
}

.profile-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust the object-fit property as per your requirements */
  border-radius: 50%;
}
.profile-input {
    text-align: left;
    width: 55rem;
}
.profile-input-subject {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.profile-input input {
    width: 55rem;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
}

.member-withdraw {
    color: blue;
    margin-top: 3rem;
    font-weight: 500;
    cursor: pointer;
}

.profile-list-button {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
}
.profile-list-button-save {
    background-color: #fc7300;
    color: white;
    width: 10rem;
    height: 4rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile-list-button-save:disabled {
    background-color: #fbb881;
    cursor:default;
}
.profile-list-button-cancle {
    border: 1px solid lightgray;
    font-size: 1.1rem;
    font-weight: 500;
    width: 10rem;
    height: 4rem;
}

.input-error {
    color: red;
    font-size: 1.2rem;
}