.profile-total-wrap {
    width: 90rem;
    margin: 0 auto;
}
.profile-update-wrap {
    margin-top: 8rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5rem;
}
.profile-update-image {
    background-color: #fc7300;
    width: 15rem;
    height: 15rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.profile-update-image img:first-child {
    width: 4rem;
    opacity: 60%;
    cursor: pointer;
    z-index: 1;
}

.profile-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust the object-fit property as per your requirements */
  border-radius: 50%;
}
.profile-input {
    text-align: left;
    width: 55rem;
}
.profile-input-subject {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.profile-input input {
    width: 55rem;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
}

/* 탈퇴 버튼 */
.member-withdraw {
    color: #999;
    font-weight: 500;

    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;

}

/* 저장 & 취소 버튼 */
.profile-list-button {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin: 4rem 0 8rem;
}
.profile-list-button > button {
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 1rem 2rem;
}
.profile-list-button-save {
    background-color: #fc7300;
    color: #fff;
    box-shadow: 1px 1px 0.8rem rgba(0, 0, 0, 0.2);
}

.profile-list-button-save:disabled {
    background-color: #fbb881;
    cursor:default;
}

.profile-list-button-save:disabled {
    background-color: #fbb881;
    cursor:default;
}
.profile-list-button-cancle {
    color: #999;
    box-shadow: 2px 2px 0.8rem rgba(0, 0, 0, 0.12);
}

.input-error {
    color: red;
    font-size: 1.2rem;
}