.spot-item {
    font-size: 2.5rem;
    font-weight: 700;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    /* gap: 10px; */
    margin-bottom: 3rem;

}

.count-div {
    width: 6rem;
}

.count {
    display: flex;
}


.where-div {
    width: 84rem;
}


.where-div .title {
    display: flex;
    height: 3.5rem;
}

.where-div .type {
    display: flex;
    
    font-size: 2.2rem;
    font-weight: 200;
    color: rgb(113, 112, 112);

 

}

.write-icon {
    display: flex;
    height: 4rem;
    cursor: pointer;
}


.where-div .content {
    font-size: 1.9rem;
    font-weight: 400px;
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
    
}



/* 희경씨  */


  
  /* .order-dorm-label {
    margin-top: 2.4px;
    margin-left: 3px;
  
    height: 14px;
    width: 14px; 
  
    background-image: url('../../../../public/images/icon_dorm.png');
    background-repeat: no-repeat;
    background-size: cover;
  
  } */
  
  .line-and-block-wrapper {
    display: flex;
 
  }
  
  .schedule-line-wrapper {
    display: flex;
    width: 7rem;
    padding-left: 4rem;
  
  }

  
  .schedule-line-left {
    display: flex;
    height: 12rem;
    margin-right: -1.7rem;
    border-right: solid 0.3rem rgba(210, 210, 210, 0.5);
    

  }
  
  /* .order-dorm-label-wrapper {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #62CCC2;
  
  } */
  
  
  
  .order-label-wrapper {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #965DFC;
  
  }
  
  .order-label {
    display: flex;
    margin-top: 5px;
    margin-left: 11px;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
  }
  
  
  
  
  .schedule-line-right {
    display: flex;
    width: 50%;
  }
  
  
  
  .text-place-type {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
  }

  .spot-modal-comment {
    font-size: 2.0rem;
    background-color:#fff1e6;
    padding: 5rem;
    width: 95%;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.upload-photo {
    padding: 2rem;
    height: auto;
    padding: 2rem;
    border-top: solid 1px hsl(0, 0%, 87%);
}

.upload-photo-btn {
    background-color: #fc7300;
    font-size: 1.3rem;
    color: white;
    padding: 1.3rem 2rem;
    width: 6.5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;

    
}

.upload-photo-area {
    display: flex;
    height: 12rem;
    gap: 1.5rem;
}
