.flight-around-trip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.from-airport {
    min-width: 350px;
    height: 55px;
    line-height: 55px;
    margin: 1rem;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;

}
.from-airport img {
    width: 20px;
    height: 20px;
    margin: 0 1rem 0 2rem;

}
.to-airport {
    min-width: 350px;
    height: 55px;
    line-height: 55px;
    margin: 1rem;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;

}
.to-airport img {
    width: 20px;
    height: 20px;
    margin: 0 1rem 0 2rem;

}


/* round-trip */
.day-going-coming {
    min-width: 350px;
    height: 55px;
    line-height: 55px;

    margin: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;

}
.day-going {
    min-width: 170px;
    height: 55px;
    line-height: 55px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;
}
.day-going img {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 2rem;

}
.day-coming {
    min-width: 170px;
    height: 55px;
    line-height: 55px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;
}
.day-coming img {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 2rem;

}


/* oneway */
.day-oneway {
    min-width: 350px;
    height: 55px;
    line-height: 55px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;
}
.day-oneway img {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 2rem;

}

.boarding-info {
    min-width: 350px;
    height: 55px;
    line-height: 55px;
    margin: 1rem;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    color: #000;

    border: 1px solid #D6D6D6;

    cursor: pointer;

}
.boarding-info img {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 2rem;

}
