/* Calendar.module.css */

.calendarContainer {
  margin-top: 3rem;
  margin-left:3.2rem;
}

.durationContainer {
  text-align: right;
  margin-right: 17rem;
}

.durationContainer h1 {
  margin-left: -5rem;
}

.dateRangeContainer {
  width: 2rem !important;
  margin-left: 9rem; /* 왼쪽으로 6rem만큼 이동 */
}

.trip-schedule-add-modal-select-complete {
  width: 76%;
  height: auto; /* height를 자동으로 조정 */
  margin-left: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ff7300f7;
  border-radius: 4px;
  cursor: pointer;
}

.trip-schedule-add-modal-select-complete-button {
  color: #ffffff;
  font-size: 2rem;
  margin-left: -2rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.trip-schedule-add-modal-select-complete-button h4 {
  margin: 0;
  line-height: 1;
}

