.calendarContainer {
  margin-top: 1rem;
}

.durationContainer {
  text-align: right;
}

.durationContainer h1 {
  margin-left: -5rem;
}


/* 등록 완료 버튼 */
.trip-schedule-add-modal-select-complete {
  width: 95%;
  height: 5rem;
  margin: 2rem auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fc7300;
  border-radius: 10px;
}
.trip-schedule-add-modal-select-complete-button {
  color: #ffffff;
  font-size: 2rem;
}