/* Calendar.module.css */
.content {
    padding: 20px;
    text-align: left;
  }
  .titleContainer {
    margin-left: 9rem; 
  }
  
  .title {
    margin-top: -3rem;
    margin-left:-7rem;
  }
  
  .subtitle {
    margin-top: -1rem;
    margin-left:-7rem;
    margin-bottom: -2rem;
  }
  
  .tripScheduleAddModal {
    width: 990px;
    height: 600px;
    margin: auto;
    background-color: rgb(244, 247, 248);
  
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    text-align: center;
  }
    /* 닫기 버튼 */
  .tripScheduleAddModalClose {
    margin: 1rem;
  
    text-align: right;
    filter: invert(0.8);
  }



.small {
    transform: scale(0.7); 
    transform-origin: top left; /* 축소의 기준점 설정 */
  }
  
  .calendarContainer {
    margin-top: 3rem;
    margin-left:-0.1rem;
  }
  
  .durationContainer {
    text-align: right;
    margin-right: 17rem;
  }
  
  .durationContainer h1 {
    margin-left: -5rem;
  }
  
  .dateRangeContainer {
    width: 2rem !important;
    margin-left: 9rem; /* 왼쪽으로 6rem만큼 이동 */
  }
  
  .trip-schedule-add-modal-select-complete {
    width: 111%;
    height: auto; /* height를 자동으로 조정 */
    margin-left: 9rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #ff7300f7;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .trip-schedule-add-modal-select-complete-button {
    color: #ffffff;
    font-size: 3rem;
    margin-left: -2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .trip-schedule-add-modal-select-complete-button h4 {
    margin: 0;
    line-height: 1;
  }
  
  