.content {
    padding: 20px;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 10rem;
    /* background-color: #f0d7c8f3; */
    background-color: rgba(243, 221, 208, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
}
.titleContainer {
    margin-left: 9rem;
}

.title {
    margin-top: 2rem;
    margin-left: -7rem;
}

.subtitle {
    margin-top: 2rem;
    margin-left: -7rem;
    margin-bottom: 2rem;
}

.tripScheduleAddModal {
    max-width: 100rem;
    min-width: 100rem;
    /* height: 100rem; */
    margin: 10rem auto;
    padding: 0 10rem;
    /* text-align: center; */
}
/* 닫기 버튼 */
.tripScheduleAddModalClose {
    margin: 1rem;

    text-align: right;
    filter: invert(0.8);
}
