.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* 가운데 정렬을 위한 margin*/
  }
  
  
  .content {
    padding: 20px;
    text-align: left;
  }
  