.complete-btn {
  display: flex;
  font-size: 13pt;
  color: white;
  margin-top: 2rem;
  padding: 1.5rem 2.5rem;
  justify-content: center;
  cursor: pointer;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to top,
      #f7b733,
      #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to top,
      #f7b733,
      #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem;
  
}